<%= form_for(@list) do |f| %>

  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <p><%= collection_select :list, :group_id, Group.all, :id, :name, {:prompt => 'Selecione o grupo'}, {:class => "form-control"} %> </p>
  <p><%= f.text_field :name, :class => "form-control", :placeholder => "Nome da lista"%></p>
  <p><button class="btn btn-success" type="submit">CRIAR</button></p>    
<% end %>



