<div class="container ovs-content">
  <div class="row">
    <div class="col-md-3 ovs-mobile-menu">
      <ul class="nav nav-pills nav-stacked red">
        <% list = List.find(params[:list_id]) %>
        <% group = list.group %>
        <li><a href="/groups/<%= group.id %>"><strong>Votações</strong></a></li>
        <li class="active">
          <%= link_to lists_path(:group_id => group.id) do %>
            <strong>Lugares</strong>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-md-3">
      <h1><%= list.name %></h1>
      <div class="list-group">
        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @options.each do |option| %>
            <tr>
              <td><%= option.name %></td>
              <td><%= link_to option, method: :delete, data: { confirm: 'Tem certeza?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to list, method: :delete, data: { confir: 'Tem certeza?' } do %>
          <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
        <% end %>
        <%= link_to new_option_path :list_id => params[:list_id] do %>
          <button type="button" class="btn btn-primary"><strong>+ Lugar</strong></button>
        <% end %>
      </div>
    </div>

  </div>
 
</div>



<br>


