<!DOCTYPE html>
<html>
<head>
  <title>OndeVaiSer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="/search">Onde vai ser?</a>	
		<%= link_to (new_group_path) do %>
			<button type="button" class="btn btn-warning pull-right ovs-nav-button">Criar Grupo</button>
		<% end %>	
	</div>
</div>

<%= yield %>

</body>
</html>
